body {
  margin: 0;
 padding: 0;
}
.quantiy {
  display: flex;
}
input.quantiy_input {
  width: 53px;
  height: 38px;
}
a.quantiy_mins {
  padding-left: 30px;
  margin: 0ox;
  margin: 17px;
}

App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/*  */
.btn-wrapper button {
  background-color: red;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
}
.img-wrapper img {
  width: 100px;
  margin-top: -10px;;
}
a.quantiy_plus {
  padding-top: 13px;
  margin-left: 5px;
}